@font-face {
  font-family: "Droid Sans",Helvetica,Arial,sans-serif;
}
body {
  font-family: "Droid Sans",Helvetica,Arial,sans-serif;
  /* padding-top: 3.5rem; */
}
.navbar {
  background: #e6213a;
}
.jumbotron {
    height: 600px;
    background-image: url('../images/Dart-Race-med.jpg');
    background-position: 30% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ebc311;
}